nav.top-nav {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  font-size: 2rem;
  background-color: var(--blk-s);
}
nav.top-nav > *{
  margin-left: 1rem;
}

nav.top-nav a {
  text-decoration: none;
  color: var(--white-p);
}

nav.top-nav a:hover {
  color: var(--orange-p);
}
