:root {
  --blk-p: hsl(210, 4%, 10%);
  --blk-s: hsl(210, 3%, 15%);
  --white-p: hsl(0, 0%, 95%);
  --ornage-p: hsl(0, 84%, 64%);
}

body {
  background-color: var(--blk-p);
  color: var(--white-p);
}
