<link rel="stylesheet" type="text/css" href="/css/header.css" />
<nav class="top-nav">
  <a href="/admin">Admin</a>
  <a href="/admin">Temporary</a>
</nav>
<script type="text/javascript" src="/js/header.js"></script>
